<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="amlak.Properties.Settings.AmlakConnectionString" connectionString="Data Source=.;Initial Catalog=Amlak;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>